{% extends 'base.html' %}

{% block title %}Logout{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mt-5">You have been logged out</h2>
            <a href="{% url 'login' %}" class="btn btn-primary btn-block">Login Again</a>
            <a href="{% url 'index' %}" class="btn btn-secondary btn-block">Return to Home</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
